.d-flex{
  white-space: nowrap;
}
.navbar-username {
  text-align: center;
  padding-top: 6px;
  padding-right: 10px;
  color: whitesmoke;
}

.login-button {
}

.search-results-container {
  position: absolute;
  top: 8%;
  left: 0;
  right: 0;
  color: #FFF;
  z-index: 1000;
  border: 1px solid #ddd;
  height: 100%;
}

.search-result-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
.close-search {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1010;
  font-size: 20px;
  color: #fff;
  width: 10vw;
}

.search-results-container {
  position: relative;
  right: 0;
  top: 0;
}
