.profile-container {
  text-align: center;
  color: whitesmoke;
  height: 150vh;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-info{
  font-size: 20px;
  padding-bottom: 20px;
}
.profile-form {
  width: 50vh;
}

.movie-feature button{
  width: 20%;
  height: 5vh;
}

.movie-carousel button {
  border: none;
  background: transparent;
  font-size: 300px;
  color: #333;
}

.movie-carousel button:hover {
  background: transparent;
  color: #666;
}
