.profile-container {
  margin-top: 2vh;
  text-align: center;
  color: whitesmoke;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-form {
  width: 50vh;
}
