.profile-container {
  margin-top: 2vh;
  text-align: center;
  color: whitesmoke;
  height: 90vh;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-form {
  width: 50vh;
}

.movie-feature button{
  width: 20%;
  height: 5vh;
}
